<div class="play-filt">
<h5>Playstyle Filter</h5>

<p class="choose-play">Please select your preferred playstyle</p>

 <div class="checkers"> 	
  	<%= check_box_tag"Shooty" %>
  	<%= label_tag "Shooty" %>
  	<%= check_box_tag "Assaulty" %>
  	<%= label_tag "Assaulty" %>
  	<%= check_box_tag "Monstrous" %>
  	<%= label_tag "Monstrous" %>
  	<%= check_box_tag "Psyker" %>
  	<%= label_tag "Psyker" %>
  	<%= check_box_tag "Armor" %>
  	<%= label_tag "Armor" %>
  	<%= check_box_tag "Mobile" %>
  	<%= label_tag "Mobile" %>
  	<%= check_box_tag "Swarm" %>
  	<%= label_tag "Swarm" %>
  	<%= check_box_tag "Elite" %>
  	<%= label_tag "Elite" %>
  	<%= check_box_tag "Support" %>
  	<%= label_tag "Support" %>
  </div>
 
<script>

$(function() {
	

	$('input[type="checkbox"]').on('click', function() {
    var playstyles = {"Shooty":false, "Assaulty":false, "Monstrous":false, "Psyker":false, "Armor":false, "Mobile":false, "Swarm":false, "Elite":false, "Support":false};
		$.each($('input:checked'), function(index, checkbox) {
			var playstyle = $(checkbox).attr('name');
			// checked.push(playstyle);
			playstyles = $.each(playstyles, function(value){
				return playstyles[playstyle] = true;
			});
		});
    $('li.'+playstyle).css('background-color', 'red');

		for(var playstyle in playstyles){
			if(playstyles[playstyle]){
				$('li.'+playstyle).css('background-color', '#66C285');
			}else{
				console.log(playstyle);
				$('li.'+playstyle).css('background-color', 'none');
			}
		}
	});


});

</script>

<ul class="buttclass">
  <li class="Shooty" id="faction-select">Space Marine</li>
  <li class="Shooty" id="faction-select">Tau</li>
  <li class="Shooty" id="faction-select">Adepta Sororitas</li>
  <li class="Armor" id="faction-select">Astra Militarum</li>
  <li class="Mobile" id="faction-select">Eldar</li>
  <li class="Mobile" id="faction-select">Dark Eldar</li>
  <li class="Swarm" id="faction-select">Orks</li>
  <li class="Elite" id="faction-select">Dark Angels</li>
  <li class="Shooty" id="faction-select">Necrons</li>
  <li class="Psyker" id="faction-select">Chaos Space Marines</li>
  <li class="Monstrous" id="faction-select">Chaos Daemons</li>
  <li class="Assaulty" id="faction-select">Space Wolves</li>
  <li class="Assaulty" id="faction-select">Blood Angels</li>
  <li class="Monstrous" id="faction-select">Tyranids</li>
  <li class="Psyker" id="faction-select">Grey Knights</li>
  <li class="Support" id="faction-select">Inquisition</li>
  <li class="Support" id="faction-select">Imperial Knights</li>
</ul>

<div class="backbutt">
	<%= link_to 'Back', :back %>
</div>
</div>

<script>
$(document).ready(function(){
$("div.play-filt").hide()
$("div.play-filt").fadeIn("slow")
});
</script>