<h5>Playstyle Filter</h5>

<p class="choose-play">Please select your preferred playstyle(s)</p>

	<!-- <input type="checkbox" name="Shooty" value><br>
  	<input type="checkbox" name="Assaulty"><br> -->
 <div class="checkers"> 	
  	<%= check_box_tag"Shooty" %>
  	<%= label_tag "Shooty" %>
  	<%= check_box_tag "Assaulty" %>
  	<%= label_tag "Assaulty" %>
  	<%= check_box_tag "Monstrous" %>
  	<%= label_tag "Monstrous" %>
  	<%= check_box_tag "Psyker" %>
  	<%= label_tag "Psyker" %>
  	<%= check_box_tag "Armor" %>
  	<%= label_tag "Armor" %>
  	<%= check_box_tag "Mobile" %>
  	<%= label_tag "Mobile" %>
  	<%= check_box_tag "Swarm" %>
  	<%= label_tag "Swarm" %>
  	<%= check_box_tag "Elite" %>
  	<%= label_tag "Elite" %>
  	<%= check_box_tag "Support" %>
  	<%= label_tag "Support" %>
  </div>
 
<!-- <div ng-app="MainApp" ng-controller="MainCtrl">
  Shooty
  <input type="checkbox" ng-model="a">
  Assaulty
  <input type="checkbox" ng-model="b">
  
  <input type="checkbox" ng-model="c">
 
  <br/>
  
  a + c
  <input id="checkSlave" type="checkbox" ng-checked="a && b">

  a or c
  <input id="checkSlave" type="checkbox" ng-checked="a || c">
  
</div> -->

<!-- // 'use strict';
// var app = angular.module('MainApp', []);
// app.controller('MainCtrl', ['$scope', function($scope){
  
// }]);
// }); -->
<script>

$(function() {
	var playstyles = {"Shooty":false, "Assaulty":false, "Monstrous":false, "Psyker":false, "Armor":false, "Mobile":false, "Swarm":false, "Elite":false, "Support":false};

	$('input[type="checkbox"]').on('click', function() {
		$.each($('input:checked'), function(index, checkbox) {
			var playstyle = $(checkbox).attr('name');
			// checked.push(playstyle);
			playstyles = $.each(playstyles, function(value){
				return playstyles[playstyle] = true;
			});
		});
		for(var playstyle in playstyles){
			if(playstyles[playstyle]){
				$('li.'+playstyle).css('background-color', 'green');
			}else{
				console.log(playstyle);
				$('li.'+playstyle).css('background-color', 'red');
			}
		}
	});


});

</script>

<ul class="buttclass">
<li class="Shooty">Space Marine</li>
<li class="Shooty">Tau</li>
<li class="Shooty">Adepta Sororitas</li>
<li class="Armor">Astra Militarum</li>
<li class="Mobile">Eldar</li>
<li class="Mobile">Dark Eldar</li>
<li class="Swarm">Orks</li>
<li class="Elite">Dark Angels</li>
<li class="Shooty">Necrons</li>
<li class="Shooty Assaulty Psyker">Chaos Space Marines</li>
<li class="Monstrous">Chaos Daemons</li>
<li class="Assaulty">Space Wolves</li>
<li class="Assaulty">Blood Angels</li>
<li class="Monstrous">Tyranids</li>
<li class="Psyker">Grey Knights</li>
<li class="Support">Inquisition</li>
<li class="Support">Imperial Knights</li>
</ul>

<div class="backbutt">
	<%= link_to 'Back', :back %>
</div