<h1>40k Playstyle</h1>

<%= form_for @playstyle do |f| %>
<%= f.text_field :title %>
<%= f.text_area :description %>
<%= f.submit %>
<% end %> 


<% @playstyles.each do |playstyle| %>
	<div class="playstyle-text">
		<p class="title-text">Title: <%= link_to playstyle.title, factions_path(playstyle: playstyle.title)  %></p>
		<p class="descript-text">Description: <%= playstyle.description %></p>
	</div>
	
<% end %>