<h1>Welcome to 40k Builder</h1>

<%= form_for @playstyle do |f| %>
<%= f.text_field :title %>
<%= f.text_area :description %>
<%= f.submit %>
<% end %> 


<% @playstyles.each do |playstyle| %>
	Title: <%= link_to playstyle.title, factions_path(playstyle: playstyle.title)  %><br>
	Description: <%= playstyle.description %><br>
	<br>
<% end %>