
<div class="playstyle-info">
	<h2><%= @playstyle.title %></h2>
	<div class="play-img">
	<%= image_tag @playstyle.image_url %>
	</div>

	<p class="playstyle-descript"><%= @playstyle.description %></p>

	<div class="commspace">
	<% @comments.each do |comment| %>
		<%= comment.user.email %>:
		<%= comment.description %>
		(<%= time_ago_in_words comment.created_at %> ago)
		<br>
	<% end %>
	</div>
 
 	<div class="comment">
	<%= render 'pages/new_comment' %>
	</div>

	<div class="backbutt">
		<%= link_to 'Back', root_path %>
	</div>
</div>

<script>
	$(document).ready(function(){
	$("div.playstyle-info").hide()
	$("div.playstyle-info").fadeIn("slow")
	});
</script>