<div class="faction-info">
	<h2><%= @faction.name %></h2>
	<div class="fact-img">
	<%= image_tag @faction.image_url %>
	</div>

	<p class="faction-descript"><%= @faction.description %></p>

	<% @comments.each do |comment| %>
		<%= comment.description %><br>
	<% end %>

	<div class="comment">
	<%= render 'pages/new_comment' %>
	</div>

	<div class="backbutt">
		<%= link_to 'Back', root_path %>
	</div>
</div>
<script>
$(document).ready(function(){
$("div.faction-info").hide()
$("div.faction-info").fadeIn("slow")
});
</script>